
@media only screen and (max-width: 768px){
	.navbar-collapse.collapse {
		padding-left: 20px !important;
		
	}	
	.navbar-collapse{
		max-height: inherit !important;
	}
	.navbar-brand{
		padding:0 !important;
	}
}